doctype html
html(lang="en")

  block vars

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title #{pageTitle}
    meta(name='description', content=pageDescription)
    link(rel="icon", href="/images/samoi.ico")

    link(rel='stylesheet', href=cssPath)

  body(class=bodyClass)

    header
      h1
        a(href='/') SAMOI 
        span  is 1st DeSci dog, in memory of animals that have contributed to human civilization.
      a.rewards-link(href="https://github.com/DoctorWhooooooooo/samoi" target="_blank" rel="noopener noreferrer") Rewards
        img.rewards(src="/images/rewards.ico")
      a.dextool-link(href="https://www.dextools.io/app/en/solana/pair-explorer/7TpHYRd4g9VNXYbsoo6GWt2FxztncUv5JSUExGLHEYWS" target="_blank" rel="noopener noreferrer") DexTools
        img.dextool(src="/images/dextools.ico")
      a.github-link(href="https://github.com/DoctorWhooooooooo/samoi" target="_blank" rel="noopener noreferrer") GitHub
        img.github(src="/images/github.ico")
      a.github-link(href="https://x.com/samoi_sci" target="_blank" rel="noopener noreferrer") Twitter
        img.github(src="/images/x.ico")
    block content