extends _layout

block vars
  - var pageTitle = 'SAMOI'
  - var pageDescription = 'A community driven meme, the first DeSci doge, in memory of animals that have contributed to human civilization.'
  - var bodyClass = 'samoi'
  - var cssPath = '/css/main.css'

block content

  // Introduction
  .entry.wide#samoi
    div

  // Animal Honor
  .entry#marjorie
    div

  .entry#laika
    div

  // Community vs. Authority
  .entry#btc-vs-dollar
    div

  .entry#inequality
    div

  // Vision
  .entry.wide#to-the-moon
    div

  // More Cyber ​​Artwork