/*-----------------------------

BtcVsDollar

-----------------------------*/

$g-width = 5px
$g-gold = linear-gradient(lightgreen,lightgreen)
$g-white = linear-gradient(white,white)
$btc-orange = #ff9900

#btc-vs-dollar
  background-color: brown

  div
    width: 18em
    height: 9em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: 
                      radial-gradient(circle, black 50%, black(0) 51%),
                      radial-gradient(circle, black 50%, black(0) 51%),
                      radial-gradient(ellipse, black 50%, black(0) 52%),
                      radial-gradient(ellipse at 50% 20%, white 60%, white(0) 61%),
                      radial-gradient(circle, goldenrod 50%, alpha(goldenrod,0) 51%),
                      radial-gradient(ellipse at 50% 20%, crimson 60%, alpha(crimson,0) 61%),
                      radial-gradient(ellipse at 50% 80%, white 60%, white(0) 61%),
                      radial-gradient(ellipse at 50% 100%, white 60%, white(0) 61%),
                      radial-gradient(ellipse at 50% 100%, white 60%, white(0) 61%)
    background-size: .4em .4em, .4em .4em, 1.2em .8em,
                     4.9em 2.5em, 1em 1em, 4em 2.5em, 4em 3em, 
                     1.5em 2em, 1.5em 2em
                     
    background-position: 45% 70%, 55% 70%, 50% 80%, 
                         50% 86%, 50% 100%, 50% 92%, 50% 100%, 
                         42.5% 62%, 57.5% 62%
                         
    border-radius: 10em 10em 0 0


    &::before
        width: 50%
        height: 100%
        left: -4em
        background-repeat: no-repeat
        background-image: $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          $g-white,
                          linear-gradient(-135deg, white 50%, transparent 51%),
                          linear-gradient(-45deg, white 50%, transparent 51%),
                          linear-gradient(-135deg, white 50%, transparent 51%),
                          linear-gradient(-45deg, white 50%, transparent 51%),
                          linear-gradient(45deg, white 50%, transparent 51%),
                          linear-gradient(135deg, white 50%, transparent 51%),
                          linear-gradient(45deg, white 50%, transparent 51%),
                          linear-gradient(135deg, white 50%, transparent 51%),
                          radial-gradient(circle, $btc-orange 50%, transparent 51%),
                          radial-gradient(circle, white 50%, transparent 51%),
                          radial-gradient(circle, $btc-orange 50%, transparent 51%)
        background-size: $g-width*6 $g-width,
                         $g-width*4 $g-width,
                         $g-width*6 $g-width,
                         $g-width $g-width*8,
                         $g-width $g-width*3,
                         $g-width $g-width*3,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width*26 $g-width*26,
                         $g-width*30 $g-width*30,
                         $g-width*34 $g-width*34
        background-position: $g-width*11.5 $g-width*10,
                             $g-width*13.5 $g-width*14,
                             $g-width*11.5 $g-width*19,
                             $g-width*12.5 $g-width*11,
                             $g-width*17.5 $g-width*11,
                             $g-width*17.5 $g-width*16,
                             $g-width*13.5 $g-width*9,
                             $g-width*15.5 $g-width*9,
                             $g-width*13.5 $g-width*20,
                             $g-width*15.5 $g-width*20,
                             $g-width*16.5 $g-width*11,
                             $g-width*16.5 $g-width*13,
                             $g-width*16.5 $g-width*15,
                             $g-width*16.5 $g-width*18,
                             $g-width*17.5 $g-width*10,
                             $g-width*17.5 $g-width*14,
                             $g-width*17.5 $g-width*15,
                             $g-width*17.5 $g-width*19,
                             $g-width*2 $g-width*2,
                             $g-width*0 0,
                             $g-width*-2 $g-width*-2


    &::after
        width: 150%
        height: 100%
        left: 10em
        background-repeat: no-repeat
        background-image: $g-gold,
                          $g-gold,
                          $g-gold,
                          $g-gold,
                          $g-gold,
                          $g-gold,
                          $g-gold,
                          $g-gold,
                          linear-gradient(-45deg, lightgreen 50%, transparent 51%),
                          linear-gradient(45deg, lightgreen 50%, transparent 51%),
                          linear-gradient(-135deg, lightgreen 50%, transparent 51%),
                          linear-gradient(45deg, lightgreen 50%, transparent 51%),
                          linear-gradient(-135deg, lightgreen 50%, transparent 51%),
                          linear-gradient(135deg, lightgreen 50%, transparent 51%),
                          radial-gradient(circle, lightgreen 50%, transparent 51%),
                          radial-gradient(circle, lightgreen 50%, transparent 51%),
                          radial-gradient(circle, lightgreen 50%, transparent 51%),
                          radial-gradient(circle, lightgreen 50%, transparent 51%),
                          radial-gradient(circle, green 50%, transparent 51%),
                          radial-gradient(circle, lightgreen 50%, transparent 51%),
                          linear-gradient(green,green),
                          linear-gradient(lightgreen,lightgreen)
        background-size: $g-width $g-width*11,
                         $g-width*3 $g-width,
                         $g-width*3 $g-width,
                         $g-width*3 $g-width,
                         $g-width $g-width*3,
                         $g-width $g-width*3,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width $g-width,
                         $g-width*5 $g-width*5,
                         $g-width*5 $g-width*5,
                         $g-width*5 $g-width*5,
                         $g-width*5 $g-width*5,
                         $g-width*26 $g-width*26,
                         $g-width*32 $g-width*32,
                         $g-width*46 $g-width*20,
                         $g-width*50 $g-width*24
        background-position: $g-width*37 $g-width*10,
                             $g-width*36 $g-width*11,
                             $g-width*36 $g-width*15,
                             $g-width*36 $g-width*19,
                             $g-width*35 $g-width*12,
                             $g-width*39 $g-width*16,
                             $g-width*39 $g-width*12,
                             $g-width*35 $g-width*18,
                             $g-width*35 $g-width*11,
                             $g-width*39 $g-width*11,
                             $g-width*35 $g-width*15,
                             $g-width*39 $g-width*15,
                             $g-width*35 $g-width*19,
                             $g-width*39 $g-width*19,
                             $g-width*12.5 $g-width*3,
                             $g-width*58 $g-width*3,
                             $g-width*12.5 $g-width*22,
                             $g-width*58 $g-width*22,
                             $g-width*24.5 $g-width*2,
                             $g-width*21.5 $g-width*-1,
                             $g-width*15 $g-width*5,
                             $g-width*13 $g-width*3
