/*-----------------------------

SAMOI

-----------------------------*/

$g-width = 10px
$g2-width = 8px
$g-white = linear-gradient(white,white)
$g-black = linear-gradient(black,black)
$g-pink = linear-gradient(pink,pink)

#samoi
  background: black

  div
    width: 60em
    height: 20em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-pink,
                      $g-pink,
                      $g-pink,
                      $g-pink,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white, //samoi-sit
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-black,
                      $g-pink,
                      $g-pink,
                      $g-pink,
                      $g-pink,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white,
                      $g-white //samoi-stand

                      

    background-size:     $g-width*1 $g-width*2,
                         $g-width*1 $g-width*1,
                         $g-width*1 $g-width*2,
                         $g-width*1 $g-width*2,
                         $g-width*1 $g-width*2,
                         $g-width*3 $g-width*1,
                         $g-width*1 $g-width*1,
                         $g-width*1 $g-width*3,
                         $g-width*1 $g-width*1,
                         $g-width*1 $g-width*1,
                         $g-width*2 $g-width*1,
                         $g-width*2 $g-width*1,
                         $g-width*2 $g-width*1,
                         $g-width*2 $g-width*1,
                         $g-width*4 $g-width*1,
                         $g-width*4 $g-width*1,
                         $g-width*13 $g-width*3,
                         $g-width*15 $g-width*3,
                         $g-width*17 $g-width*4,
                         $g-width*19 $g-width*4,
                         $g-width*17 $g-width*1,
                         $g-width*15 $g-width*1,
                         $g-width*1 $g-width*2,
                         $g-width*1 $g-width*7,
                         $g-width*1 $g-width*6,
                         $g-width*1 $g-width*3, //samoi-sit
                         $g2-width*1 $g2-width*2,
                         $g2-width*2 $g2-width*1,
                         $g2-width*1 $g2-width*2,
                         $g2-width*1 $g2-width*3,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*1 $g2-width*1,
                         $g2-width*2 $g2-width*1,
                         $g2-width*2 $g2-width*1,
                         $g2-width*4 $g2-width*1,
                         $g2-width*4 $g2-width*1,
                         $g2-width*14 $g2-width*3,
                         $g2-width*16 $g2-width*3,
                         $g2-width*27 $g2-width*5,
                         $g2-width*26 $g2-width*6,
                         $g2-width*25 $g2-width*3,
                         $g2-width*23 $g2-width*1,
                         $g2-width*21 $g2-width*1,
                         $g2-width*5 $g2-width*1,
                         $g2-width*8 $g2-width*1,
                         $g2-width*1 $g2-width*11,
                         $g2-width*4 $g2-width*1,
                         $g2-width*5 $g2-width*1,
                         $g2-width*6 $g2-width*1  //samoi-stand
                         


    background-position: $g-width*7 $g-width*16,
                         $g-width*9 $g-width*17,
                         $g-width*11 $g-width*16,
                         $g-width*7 $g-width*25,
                         $g-width*11 $g-width*25,
                         $g-width*8 $g-width*27,
                         $g-width*17 $g-width*21,
                         $g-width*18 $g-width*22,
                         $g-width*6 $g-width*12,
                         $g-width*12 $g-width*12,
                         $g-width*5 $g-width*17,
                         $g-width*12 $g-width*17,
                         $g-width*5 $g-width*10,
                         $g-width*12 $g-width*10,
                         $g-width*4 $g-width*11,
                         $g-width*11 $g-width*11,
                         $g-width*3 $g-width*12,
                         $g-width*2 $g-width*15,
                         $g-width*1 $g-width*18,
                         $g-width*0 $g-width*22,
                         $g-width*1 $g-width*26,
                         $g-width*2 $g-width*27,
                         $g-width*18 $g-width*20,
                         $g-width*19 $g-width*19,
                         $g-width*20 $g-width*19,
                         $g-width*21 $g-width*21, //samoi-sit
                         $g2-width*95 $g2-width*18,
                         $g2-width*97 $g2-width*19,
                         $g2-width*100 $g2-width*18,
                         $g2-width*107 $g2-width*17,
                         $g2-width*117 $g2-width*22,
                         $g2-width*109 $g2-width*31,
                         $g2-width*108 $g2-width*32,
                         $g2-width*107 $g2-width*33,
                         $g2-width*95 $g2-width*13,
                         $g2-width*102 $g2-width*13,
                         $g2-width*94 $g2-width*19,
                         $g2-width*101 $g2-width*19,
                         $g2-width*94 $g2-width*10,
                         $g2-width*102 $g2-width*10,
                         $g2-width*93 $g2-width*11,
                         $g2-width*101 $g2-width*11,
                         $g2-width*92 $g2-width*12,
                         $g2-width*91 $g2-width*15,
                         $g2-width*90 $g2-width*18,
                         $g2-width*91 $g2-width*23,
                         $g2-width*92 $g2-width*29,
                         $g2-width*93 $g2-width*32,
                         $g2-width*94 $g2-width*33,
                         $g2-width*109 $g2-width*16,
                         $g2-width*108 $g2-width*17,
                         $g2-width*117 $g2-width*19,
                         $g2-width*94 $g2-width*34,
                         $g2-width*99 $g2-width*34,
                         $g2-width*108 $g2-width*34 //samoi-stand

    animation: move 10000ms infinite ease-in-out 

    &::before
      color: white
      top: 80%
      left: 28%
      content: 'SAMOI                          $SMO      \A\A    TYPE: MEME         EFFICACY: MAKE PEOPLE HAPPY'
      white-space: pre-wrap
      text-transform: uppercase
      font-family: Impact, AvenirNextCondensed-Bold, Helvetica, Arial, sans-serif
      font-size: 150%
      text-align: center

@keyframes move
  0, 100%
    transform: translate(0,0)
  25%
    transform: translate(-20em,0)
  75%
    transform: translate(20em,0)
